#courseNumber{
    font-weight: 400;
    margin: 4px 0 24px;
    text-align: center;
}

#courseContainer{
    padding: 30px 15px 0px 15px;
}

#tableCourse{
    height: 260px;
    overflow: auto;
    display: -moz-grid;
}

#addCourseContainer{
    float: right;
    padding: 0px 0px 0px 30px;
}

#addCourseContainer h1{
    font-size: 60px;
    font-weight: 400;
    margin: 4px 0 24px;
    text-align: center;
}

#assignCourseForm{
    display: none;
}

#btnShowAddCourse{
    width: 227px;
    height: 180px;
    cursor: pointer;
}

#btnShowAddCourse:hover{
    box-shadow: 0px 0px 1px 1px #999999;
}

#btnAddCourse, #btnCancelAddCourse, #btnSkipAssign, #btnAssignCourse{
    width: 227px;
    height: 180px;
    display: none;
    cursor: pointer;
}
#btnAddCourse:hover, #btnCancelAddCourse:hover, #btnSkipAssign:hover, #btnAssignCourse:hover{
    box-shadow: 0px 0px 1px 1px #999999;
}
#btnAddCourse h4, #btnCancelAddCourse h4, #btnSkipAssign h4, #btnAssignCourse h4{
    text-align: center;
    margin-top: 60px;
}

#addCourseForm, #assignCourseForm{
    padding: 0px;
    display: none;
}

#addCourseForm .content, #assignCourseForm .content{
    padding: 13px 15px 10px 15px;   
}

#addCourseForm .form-group, #assignCourseForm .form-group{
    margin-bottom: 12px;
}

#addCourseForm textarea{
    height: 100px;
}

#addCmrForm{
    padding: 0px;
}

#addCmrForm .content{
    padding: 13px 15px 10px 15px;   
}

#addCmrForm .form-group{
    margin-bottom: 12px;
}

#addCmrForm textarea{
    height: 100px;
}

#addCmrStatistic{
    padding: 0px;
}

#addCmrStatistic td{
    padding: 1px 6px;
    border: 0px;
}

#cmrContainer{
    padding: 30px 15px 0px 15px;
}

#tableCmr{
    height: 380px;
    overflow: auto;
    display: -moz-grid;
}

#cmrBar{
    height: 28px;
    background: #c9c9c9;
    border-radius: 5px;
    position: relative;
}

#completedPercent{
    height: 28px;
    background: #1DC7EA;
    border-radius: 6px;
    position: absolute;
}

#percent{
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
}

#cmrStatisticDetail, #cmrGradeDetail{
    padding: 0px;
}

#courseDetail{
    padding: 0px;
}

#assignCourseButton, #assignTo{
    padding: 0px 0px 0px 30px;
}

#btnAssign{
    width: 227px;
    height: 75px;
    cursor: pointer;
}

#btnAssign:hover{
    box-shadow: 0px 0px 1px 1px #999999;
}

#btnAssign h4{
    margin-top: 10px;
    text-align: center;
}

#btnApprove{
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border: 0px;
    padding: 12px;
    float: right;
    font-size: 22px;
    font-weight: 100;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
