#hover{
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

#courseNumber{
    font-weight: 400;
    margin: 4px 0 24px;
    text-align: center;
}

#courseContainer{
    padding: 30px 15px 0px 15px;
}

#tableCourse{
    height: 260px;
    overflow: auto;
    display: -moz-grid;
}

#addCourseContainer{
    float: right;
    padding: 0px 0px 0px 30px;
}

#addCourseContainer h1{
    font-size: 60px;
    font-weight: 400;
    margin: 4px 0 24px;
    text-align: center;
}

#assignCourseForm{
    display: none;
}

#addAccountContainer{
    padding: 0px;
}

#btnShowAddCourse, #btnShowAddAccount{
    width: 227px;
    height: 180px;
    cursor: pointer;
}

#btnShowAddCourse:hover, #btnShowAddAccount:hover{
    box-shadow: 0px 0px 1px 1px #999999;
}

#btnAddCourse, #btnCancelAddCourse, #btnSkipAssign,
#btnAssignCourse{
    width: 227px;
    height: 180px;
    display: none;
    cursor: pointer;
}
#btnAddCourse:hover, #btnCancelAddCourse:hover, #btnSkipAssign:hover,
#btnAssignCourse:hover, #btnAddAccount:hover, #btnCancelAddAccount:hover{
    box-shadow: 0px 0px 1px 1px #999999;
}

#btnAddCourse h4, #btnCancelAddCourse h4, #btnSkipAssign h4,
#btnAssignCourse h4{
    text-align: center;
    margin-top: 60px;
}

#btnAddAccount, #btnCancelAddAccount{
    width: 227px;
    height: 98px;
    display: none;
    cursor: pointer;
}

#btnAddAccount h4, #btnCancelAddAccount h4{
    margin-top: 18px;
    text-align: center;
}

#addCourseForm, #assignCourseForm{
    padding: 0px;
    display: none;
}

#addCourseForm .content, #assignCourseForm .content{
    padding: 13px 15px 10px 15px;   
}

#addCourseForm .form-group, #assignCourseForm .form-group{
    margin-bottom: 12px;
}

#addCourseForm textarea{
    height: 100px;
}

#createdDate{
    position: absolute;
    right: 22px;
    top: 18px;
}

#addCmrForm{
    padding: 0px;
}

#addCmrForm .content{
    padding: 13px 15px 10px 15px;   
}

#addCmrForm .form-group{
    margin-bottom: 12px;
}

#addCmrForm textarea{
    height: 100px;
}

#addCmrStatistic{
    padding: 0px;
}

#addCmrStatistic td{
    padding: 1px 6px;
    border: 0px;
}

#cmrContainer{
    padding: 30px 15px 0px 15px;
}

#tableCmr{
    height: 380px;
    overflow: auto;
    display: -moz-grid;
}

#cmrBar{
    height: 28px;
    background: #c9c9c9;
    border-radius: 5px;
    position: relative;
}

#completedPercent{
    height: 28px;
    background: #1DC7EA;
    border-radius: 6px;
    position: absolute;
}

#percent{
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
}

#cmrStatisticDetail, #cmrGradeDetail{
    padding: 0px;
}

#courseDetail{
    padding: 0px;
}

#assignCourseButton, #assignTo{
    padding: 0px 0px 0px 30px;
}

#btnAssign{
    width: 227px;
    height: 56.5px;
    cursor: pointer;
}

#btnAssign:hover{
    box-shadow: 0px 0px 1px 1px #999999;
}

#btnAssign h4{
    margin-top: 0px;
    text-align: center;
}

#btnApprove{
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border: 0px;
    padding: 12px;
    float: right;
    font-size: 22px;
    font-weight: 100;
}

#filter{
    text-decoration: none;
    color: #333;
    font-size: 22px;
    padding: 7px;
}

#cardFilter{
    width: 36px;
    height: 36px;
    float: right;
}

#cardFilter ul{
    left: -123px;
    border-radius: 4px;
    border-top-right-radius: 0px;
}

#search{
    float: right;
}

#search ul{
    left: 15px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 95%;
}

#search input{
    height: 38px;
    padding-left: 38px;
}

#search i{
    position: absolute;
    padding: 8px 8px 8px 10px;
    font-size: 22px;
    color: #333;
}

#facultyFilter{
    width: 36px;
    height: 36px;
    float: right;
}

#background{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

#startDate, #endDate, #filterFaculty, #searchReport{
    float: left;
}

#reportFilter label{
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #9A9A9A;
}

#notify{
    display: inline-block;
    margin: 0px auto;
    position: fixed;
    transition: all 0.5s ease-in-out 0s;
    z-index: 1031;
    top: 20px; 
    right: 20px;
}

#closeNotify{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
    z-index: 1033;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
